<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='sales_plan.css') }}"
    />
  </head>
  <body class="body">
    <div class="nav">
      <li><a href="/dashboard">Home</a></li>
      <br />
      <li><a href="/inventory">Inventory</a></li>
      <br />
      <li><a href="/departments">Departments</a></li>
      <br />
      <li><a href="/targets">Targets</a></li>
      <br />
      <li><a href="/sales_plans">Sales Plans</a></li>
      <br />
      <li><a href="/logout">Logout</a></li>
    </div>
    <div class="main md-2">
      <h1 class="p-5"><span> Sales Plan</span></h1>

      
      {%for dept in depts%}
    
      <h3 class="ms-5">{{dept.dept_name}}</h3>    
      
      <table
      class="table table-bordered m-5 table-striped table-hover table-light "
      >
      <thead style=" position: sticky; top: 0;">
        <th style="width: 20px; overflow:hidden">item id</th>
        <th style="width: 250px; overflow:hidden">item decs</th>
        <th style="width: 45px; overflow:hidden">item count</th>
        <th style="width: 70px; overflow:hidden">item cost ($)</th>
        <th style="width: 70px; overflow:hidden">item old price ($)</th>
        <th style="width: 70px; overflow:hidden">item current price ($)</th>
        <th>Sales Plan</th>
        <th style="width: 300px; overflow:hidden">actions</th>
      </thead>
      <tbody

        {%for item in items%}
        {%if item.dept_name == dept.dept_name%}
          
            <tr style="font-weight:{{ "bold" if item.flag_by else "none" }};">
              <td>{{item.id}}</td>
              <td><a href="/view_item/{{item.id}}">{{item.item_desc}}</a> </td>
              <td>{{item.item_count}}</td>
              <td>{{"$ {:,.2f}".format(item.cost_old)}}</td>
              <td>{{"$ {:,.2f}".format(item.unit_price_old)}}</td>
              <td>{{"$ {:,.2f}".format(item.unit_price_new)}}</td>
              <td>{{item.sales_plan}}</td>
              <td>{%if item.flag_by%}
                <p class="text-info" >marked by {{item.flag_by}}</p>
                {%if item.flag_by == session["flag_code"] or session["flag_code"] == "mgr_stor"%}
                <a class="text-danger btn btn-warning"href="/unmark_item/{{item.id}}">Unmark Item</a>
            

                {%endif%}
                {%else%}
                <a href="/mark_item/{{item.id}}">Mark Item</a>
                {%endif%}
                </td>
            </tr>
            {%endif%}

            {%endfor%}
          
        </tbody>
      </table>
      {%endfor%}
      


    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
